.place__description {
    display: flex;
    flex-direction: column;
    row-gap: 26px;

}

@media screen and (max-width: 768px) {
    .place__description {
        row-gap: 26px;
    }
}

@media screen and (max-width: 650px) {
    .place__description {
        padding: 0 16px;
    }
}