.footer {
    max-width: calc(100% - 48*2px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;
    flex-wrap: wrap;
    gap: 48px;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 24*2px);
    }   
}

@media screen and (max-width: 650px) {
    .footer {
        flex-direction: column;
        max-width: calc(100% - 16*2px);
    }   
}